# Progetto IUM - Data Analysis
## Universit√† di Informatica, Unito
Gruppo Federico Raso, Federico Verra

In [19]:
from platform import release

import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [38]:
data_directory = "../data/"
actors_df = pd.read_csv(data_directory+'actors.csv')
countries_df = pd.read_csv(data_directory+'countries.csv')
crew_df = pd.read_csv(data_directory+'crew.csv')
genres_df = pd.read_csv(data_directory+'genres.csv')
languages_df = pd.read_csv(data_directory+'languages.csv')
movies_df = pd.read_csv(data_directory+'movies.csv')
posters_df = pd.read_csv(data_directory+'posters.csv')
releases_df = pd.read_csv(data_directory+'releases.csv')
reviews_rotten_df = pd.read_csv(data_directory+'rotten_tomatoes_reviews.csv')
studios_df = pd.read_csv(data_directory+'studios.csv')
oscar_df = pd.read_csv(data_directory+'the_oscar_awards.csv')

## Analizzo e pulisco i dati

In [39]:
print(list(oscar_df['category'].unique()))

['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY', 'DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)', 'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE', 'UNIQUE AND ARTISTIC PICTURE', 'WRITING (Adaptation)', 'WRITING (Original Story)', 'WRITING (Title Writing)', 'SPECIAL AWARD', 'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION', 'SOUND RECORDING', 'SHORT SUBJECT (Cartoon)', 'SHORT SUBJECT (Comedy)', 'SHORT SUBJECT (Novelty)', 'ASSISTANT DIRECTOR', 'FILM EDITING', 'MUSIC (Scoring)', 'MUSIC (Song)', 'DANCE DIRECTION', 'WRITING (Screenplay)', 'ACTOR IN A SUPPORTING ROLE', 'ACTRESS IN A SUPPORTING ROLE', 'SHORT SUBJECT (Color)', 'SHORT SUBJECT (One-reel)', 'SHORT SUBJECT (Two-reel)', 'IRVING G. THALBERG MEMORIAL AWARD', 'MUSIC (Original Score)', 'CINEMATOGRAPHY (Black-and-White)', 'CINEMATOGRAPHY (Color)', 'SPECIAL EFFECTS', 'ART DIRECTION (Black-and-White)', 'ART DIRECTION (Color)', 'WRITING (Original Screenplay)', 'DOCUMENTARY (Short Subject)', 'MUSIC (Music Score of a Dramatic Picture)', 'MUSIC (Scoring of a Musical Picture)', 'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY', 'MUSIC (Music Score of a Dramatic or Comedy Picture)', 'WRITING (Original Motion Picture Story)', 'DOCUMENTARY (Feature)', 'BEST MOTION PICTURE', 'WRITING (Motion Picture Story)', 'COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)', 'SPECIAL FOREIGN LANGUAGE FILM AWARD', 'WRITING (Story and Screenplay)', 'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD', 'FOREIGN LANGUAGE FILM', 'WRITING (Screenplay--Adapted)', 'WRITING (Screenplay--Original)', 'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN', 'SHORT SUBJECT (Live Action)', 'WRITING (Screenplay--based on material from another medium)', 'WRITING (Story and Screenplay--written directly for the screen)', 'SOUND', 'MUSIC (Music Score--substantially original)', 'MUSIC (Scoring of Music--adaptation or treatment)', 'BEST PICTURE', 'SOUND EFFECTS', 'SPECIAL VISUAL EFFECTS', 'MUSIC (Original Music Score)', 'MUSIC (Original Score--for a motion picture [not a musical])', 'MUSIC (Score of a Musical Picture--original or adaptation)', 'MUSIC (Song--Original for the Picture)', 'WRITING (Story and Screenplay--based on material not previously published or produced)', 'MUSIC (Original Song Score)', 'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)', 'MUSIC (Original Dramatic Score)', 'MUSIC (Scoring: Adaptation and Original Song Score)', 'SHORT SUBJECT (Animated)', 'SPECIAL ACHIEVEMENT AWARD (Visual Effects)', 'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)', 'SHORT FILM (Animated)', 'SHORT FILM (Live Action)', 'WRITING (Screenplay Adapted from Other Material)', 'MUSIC (Original Song)', 'SPECIAL ACHIEVEMENT AWARD (Sound Effects)', 'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE', 'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)', 'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)', 'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD', 'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)', 'MUSIC (Adaptation Score)', 'WRITING (Screenplay Based on Material from Another Medium)', 'WRITING (Screenplay Written Directly for the Screen)', 'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)', 'SPECIAL ACHIEVEMENT AWARD (Sound Editing)', 'SHORT FILM (Dramatic Live Action)', 'MAKEUP', 'SOUND EFFECTS EDITING', 'MUSIC (Original Song Score or Adaptation Score)', 'WRITING (Screenplay Based on Material Previously Produced or Published)', 'MUSIC (Original Musical or Comedy Score)', 'SOUND EDITING', 'ANIMATED FEATURE FILM', 'WRITING (Adapted Screenplay)', 'SOUND MIXING', 'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN', 'INTERNATIONAL FEATURE FILM', 'DOCUMENTARY FEATURE FILM', 'DOCUMENTARY SHORT FILM', 'GORDON E. SAWYER AWARD', 'AWARD OF COMMENDATION']

In [40]:
oscar_df

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10884,2023,2024,96,WRITING (Original Screenplay),Written by Celine Song,Past Lives,False
10885,2023,2024,96,JEAN HERSHOLT HUMANITARIAN AWARD,NaN,NaN,True
10886,2023,2024,96,HONORARY AWARD,"To Angela Bassett, who has inspired audiences ...",NaN,True
10887,2023,2024,96,HONORARY AWARD,"To Mel Brooks, for his comedic brilliance, pro...",NaN,True
10888,2023,2024,96,HONORARY AWARD,"To Carol Littleton, whose commitment to her cr...",NaN,True

In [23]:
duplicati = movies_df[movies_df.duplicated()]
duplicati

Empty DataFrame
Columns: [id, name, date, tagline, description, minute, rating]
Index: []

In [25]:
prova = movies_df.loc[movies_df['name']=='The Last Command']
prova

,id,name,date,tagline,description,minute,rating
12303,1012304,The Last Command,1928.0,NaN,A former Imperial Russian general and cousin o...,88.0,3.97
74709,1074710,The Last Command,1955.0,THE BUGLE SOUNDS... No Mercy! No Quarter! for ...,During the Texas War of Independence of 1836 A...,110.0,3.19

In [26]:
oscar_df

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10884,2023,2024,96,WRITING (Original Screenplay),Written by Celine Song,Past Lives,False
10885,2023,2024,96,JEAN HERSHOLT HUMANITARIAN AWARD,NaN,NaN,True
10886,2023,2024,96,HONORARY AWARD,"To Angela Bassett, who has inspired audiences ...",NaN,True
10887,2023,2024,96,HONORARY AWARD,"To Mel Brooks, for his comedic brilliance, pro...",NaN,True
10888,2023,2024,96,HONORARY AWARD,"To Carol Littleton, whose commitment to her cr...",NaN,True

In [31]:
num = oscar_df['film'].isna().sum()
print(num)

319

## Quale paese ha vinto pi√π oscar?
* Seleziono i vincitori di un Oscar
* Cerco tra i film vincitori chi ha una corrispondenza in movies_df secondo il nome e la data del film
* Cerco per ogni film vincitore il paese corrispondente

In [27]:
oscar_win_df=oscar_df.loc[oscar_df['winner']==True]
oscar_win_df

,year_film,year_ceremony,ceremony,category,name,film,winner
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
6,1927,1928,1,ART DIRECTION,William Cameron Menzies,The Dove;,True
9,1927,1928,1,CINEMATOGRAPHY,Charles Rosher,Sunrise,True
10,1927,1928,1,CINEMATOGRAPHY,Karl Struss,Sunrise,True
...,...,...,...,...,...,...,...
10880,2023,2024,96,WRITING (Original Screenplay),Screenplay - Justine Triet and Arthur Harari,Anatomy of a Fall,True
10885,2023,2024,96,JEAN HERSHOLT HUMANITARIAN AWARD,NaN,NaN,True
10886,2023,2024,96,HONORARY AWARD,"To Angela Bassett, who has inspired audiences ...",NaN,True
10887,2023,2024,96,HONORARY AWARD,"To Mel Brooks, for his comedic brilliance, pro...",NaN,True
10888,2023,2024,96,HONORARY AWARD,"To Carol Littleton, whose commitment to her cr...",NaN,True

In [28]:
oscar_win_df = pd.merge(oscar_win_df, movies_df, left_on=['film','year_film'], right_on=['name','date'], how='inner')
oscar_win_df

,year_film,year_ceremony,ceremony,category,name_x,film,winner,id,name_y,date,tagline,description,minute,rating
0,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True,1011901,7th Heaven,1927.0,NaN,A dejected Parisian sewer worker feels his pra...,110.0,3.75
1,1927,1928,1,DIRECTING (Comedy Picture),Lewis Milestone,Two Arabian Knights,True,1041593,Two Arabian Knights,1927.0,NaN,"During World War I, two American soldiers figh...",92.0,3.29
2,1927,1928,1,DIRECTING (Dramatic Picture),Frank Borzage,7th Heaven,True,1011901,7th Heaven,1927.0,NaN,A dejected Parisian sewer worker feels his pra...,110.0,3.75
3,1927,1928,1,ENGINEERING EFFECTS,Roy Pomeroy,Wings,True,1005482,Wings,1927.0,"Youth, hitting the clouds! Laughing at danger!...","Two young men, one rich, one middle class, bot...",144.0,3.74
4,1927,1928,1,OUTSTANDING PICTURE,Paramount Famous Lasky,Wings,True,1005482,Wings,1927.0,"Youth, hitting the clouds! Laughing at danger!...","Two young men, one rich, one middle class, bot...",144.0,3.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1932,2023,2024,96,SHORT FILM (Live Action),Wes Anderson and Steven Rales,The Wonderful Story of Henry Sugar,True,1000576,The Wonderful Story of Henry Sugar,2023.0,NaN,A rich man learns about a guru who can see wit...,39.0,3.84
1933,2023,2024,96,SOUND,Tarn Willers and Johnnie Burn,The Zone of Interest,True,1000215,The Zone of Interest,2023.0,NaN,"The commandant of Auschwitz, Rudolf H√∂ss, and ...",105.0,3.88
1934,2023,2024,96,VISUAL EFFECTS,"Takashi Yamazaki, Kiyoko Shibuya, Masaki Takah...",Godzilla Minus One,True,1000367,Godzilla Minus One,2023.0,Postwar Japan. From zero to minus.,"In postwar Japan, a new terror rises. Will the...",125.0,4.12
1935,2023,2024,96,WRITING (Adapted Screenplay),Written for the screen by Cord Jefferson,American Fiction,True,1000456,American Fiction,2023.0,NaN,Thelonious ‚ÄúMonk‚Äù Ellison's writing career has...,117.0,3.72
1936,2023,2024,96,WRITING (Original Screenplay),Screenplay - Justine Triet and Arthur Harari,Anatomy of a Fall,True,1000080,Anatomy of a Fall,2023.0,Did she do it?,"A woman is suspected of her husband's murder, ...",152.0,4.15

In [34]:
oscar_win_df = oscar_win_df[['id','name_y','date','minute','rating','category','name_x','winner']].copy()
oscar_win_df = oscar_win_df.set_index('id')
oscar_win_df

,name_y,date,minute,rating,category,name_x,winner
id,,,,,,,
1011901,7th Heaven,1927.0,110.0,3.75,ACTRESS,Janet Gaynor,True
1041593,Two Arabian Knights,1927.0,92.0,3.29,DIRECTING (Comedy Picture),Lewis Milestone,True
1011901,7th Heaven,1927.0,110.0,3.75,DIRECTING (Dramatic Picture),Frank Borzage,True
1005482,Wings,1927.0,144.0,3.74,ENGINEERING EFFECTS,Roy Pomeroy,True
1005482,Wings,1927.0,144.0,3.74,OUTSTANDING PICTURE,Paramount Famous Lasky,True
...,...,...,...,...,...,...,...
1000576,The Wonderful Story of Henry Sugar,2023.0,39.0,3.84,SHORT FILM (Live Action),Wes Anderson and Steven Rales,True
1000215,The Zone of Interest,2023.0,105.0,3.88,SOUND,Tarn Willers and Johnnie Burn,True
1000367,Godzilla Minus One,2023.0,125.0,4.12,VISUAL EFFECTS,"Takashi Yamazaki, Kiyoko Shibuya, Masaki Takah...",True
1000456,American Fiction,2023.0,117.0,3.72,WRITING (Adapted Screenplay),Written for the screen by Cord Jefferson,True
1000080,Anatomy of a Fall,2023.0,152.0,4.15,WRITING (Original Screenplay),Screenplay - Justine Triet and Arthur Harari,True

In [36]:
oscar_win_df = pd.merge(oscar_win_df, countries_df, left_on='id', right_on='id', how='inner')
oscar_win_df

,id,name_y,date,minute,rating,category,name_x,winner,country
0,1011901,7th Heaven,1927.0,110.0,3.75,ACTRESS,Janet Gaynor,True,USA
1,1041593,Two Arabian Knights,1927.0,92.0,3.29,DIRECTING (Comedy Picture),Lewis Milestone,True,USA
2,1011901,7th Heaven,1927.0,110.0,3.75,DIRECTING (Dramatic Picture),Frank Borzage,True,USA
3,1005482,Wings,1927.0,144.0,3.74,ENGINEERING EFFECTS,Roy Pomeroy,True,USA
4,1005482,Wings,1927.0,144.0,3.74,OUTSTANDING PICTURE,Paramount Famous Lasky,True,USA
...,...,...,...,...,...,...,...,...,...
2587,1000215,The Zone of Interest,2023.0,105.0,3.88,SOUND,Tarn Willers and Johnnie Burn,True,UK
2588,1000215,The Zone of Interest,2023.0,105.0,3.88,SOUND,Tarn Willers and Johnnie Burn,True,USA
2589,1000367,Godzilla Minus One,2023.0,125.0,4.12,VISUAL EFFECTS,"Takashi Yamazaki, Kiyoko Shibuya, Masaki Takah...",True,Japan
2590,1000456,American Fiction,2023.0,117.0,3.72,WRITING (Adapted Screenplay),Written for the screen by Cord Jefferson,True,USA
2591,1000080,Anatomy of a Fall,2023.0,152.0,4.15,WRITING (Original Screenplay),Screenplay - Justine Triet and Arthur Harari,True,France

In [42]:
conteggi = oscar_win_df['country'].value_counts()

conteggi_df = conteggi.reset_index()
conteggi_df.columns = ['country', 'count']  # Rinomina le colonne

conteggi_df

                   country  count
0                      USA   1684
1                       UK    348
2                   France    113
3                  Germany     60
4                   Canada     50
5                    Italy     39
6                    India     30
7              New Zealand     25
8                Australia     22
9                    Japan     18
10                   Spain     17
11               Hong Kong     17
12                   China     16
13                 Ireland     14
14                 Belgium     13
15                  Taiwan     11
16             Switzerland     10
17                  Mexico     10
18                  Turkey      9
19             Netherlands      9
20                  Sweden      6
21                  Poland      5
22                 Austria      5
23                 Hungary      5
24                  Greece      4
25                  Brazil      4
26                 Denmark      4
27                 Czechia      4
28             South Korea      4
29            South Africa      3
30               Argentina      3
31                    USSR      3
32    United Arab Emirates      2
33                 Algeria      2
34                   Egypt      2
35             Philippines      2
36                   Chile      2
37                    Iran      2
38      Russian Federation      2
39          Czechoslovakia      1
40             Ivory Coast      1
41              Yugoslavia      1
42           Liechtenstein      1
43                Slovenia      1
44                    Peru      1
45                 Romania      1
46  Bosnia and Herzegovina      1
47                  Norway      1
48                 Finland      1
49                Pakistan      1
50             Afghanistan      1
51                  Kuwait      1

## Chi ha prodotto pi√π film?

## La bellezza di un film, pu√≤ essere influenzata dalla durata?

## Nel tempo come si √® evoluta la durata media dei film?