# Progetto IUM - Data Analysis
## Universit√† di Informatica, Unito
Gruppo Federico Raso, Federico Verra

## Analizzo e pulisco i dati

In [1]:
import numpy
import pandas as pd
print(numpy.__version__)

2.1.3

In [3]:
data_directory = "./data/"
actors_df = pd.read_csv(data_directory+'actors.csv')
countries_df = pd.read_csv(data_directory+'countries.csv')
crew_df = pd.read_csv(data_directory+'crew.csv')
genres_df = pd.read_csv(data_directory+'genres.csv')
languages_df = pd.read_csv(data_directory+'languages.csv')
movies_df = pd.read_csv(data_directory+'movies.csv')
posters_df = pd.read_csv(data_directory+'posters.csv')
releases_df = pd.read_csv(data_directory+'releases.csv')
reviews_rotten_df = pd.read_csv(data_directory+'rotten_tomatoes_reviews.csv')
studios_df = pd.read_csv(data_directory+'studios.csv')
oscar_df = pd.read_csv(data_directory+'the_oscar_awards.csv')
reviews_rotten_df

,rotten_tomatoes_link,movie_title,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,Percy Jackson & the Olympians: The Lightning T...,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...
...,...,...,...,...,...,...,...,...,...
1129882,m/zulu_dawn,Zulu Dawn,Chuck O'Leary,False,Fantastica Daily,Rotten,2/5,2005-11-02,NaN
1129883,m/zulu_dawn,Zulu Dawn,Ken Hanke,False,"Mountain Xpress (Asheville, NC)",Fresh,3.5/5,2007-03-07,"Seen today, it's not only a startling indictme..."
1129884,m/zulu_dawn,Zulu Dawn,Dennis Schwartz,False,Dennis Schwartz Movie Reviews,Fresh,B+,2010-09-16,A rousing visual spectacle that's a prequel of...
1129885,m/zulu_dawn,Zulu Dawn,Christopher Lloyd,False,Sarasota Herald-Tribune,Rotten,3.5/5,2011-02-28,"A simple two-act story: Prelude to war, and th..."
1129886,m/zulu_dawn,Zulu Dawn,Brent McKnight,False,The Last Thing I See,Rotten,C,2020-07-09,Rides the line between being a pure artifact o...

## Quale paese ha vinto pi√π oscar?

## Chi ha prodotto pi√π film?

## La bellezza di un film, pu√≤ essere influenzata dalla durata?

## Nel tempo come si √® evoluta la durata media dei film?

In [14]:
time_df =movies_df[['id', 'date', 'minute']].copy()
time_df.head(10)

        id    date  minute
0  1000001  2023.0   114.0
1  1000002  2019.0   133.0
2  1000003  2022.0   140.0
3  1000004  1999.0   139.0
4  1000005  2016.0   129.0
5  1000006  2023.0   181.0
6  1000007  2014.0   169.0
7  1000008  2019.0   122.0
8  1000009  2021.0   155.0
9  1000010  1994.0   154.0

In [7]:
time_df.dtypes

id          int64
date      float64
minute    float64
dtype: object

In [16]:
time_df['date'] = pd.to_datetime(time_df['date'])
time_df.dtypes

id                 int64
date      datetime64[ns]
minute           float64
dtype: object

In [24]:
time_df.dropna(axis=0, inplace=True)
print(time_df.duplicated().sum())

0